{% extends "field--text.html.twig" %}
{#
/**
 * @file
 * Theme override for the recipe-instruction block.
 */
#}

{% block before %}
  {{ attach_library('umamy/recipe-instruction') }}
{% endblock before %}