/**
 * @file
 * Styles for help messages.
 */

.block-help {
  margin-bottom: 1em;
  padding: 1.26em;
  word-wrap: break-word;
  color: inherit;
  border: 1px solid #b3daf0;
  background-color: #eef5f9;
  overflow-wrap: break-word;
}

.block-help__container {
  padding-left: 24px; /* LTR */
  background-image: url(../../images/help.svg);
  background-repeat: no-repeat;
  background-position: left 4px; /* LTR */
}
[dir=rtl] .block-help__container {
  padding-right: 24px;
  padding-left: 0;
  background-position: right 4px;
}

.block-help__container > *:last-child {
  margin-bottom: 0;
}
