{#
/**
 * @file
 * Theme override to display a node in card view mode.
 */
#}

{% extends "node.html.twig" %}

{% block before %}
  {% set attributes = attributes.addClass('view-mode-card') %}
  {{ attach_library('umamy/view-mode-card') }}
{% endblock before %}

{% block markup %}

  {% block title %}
    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes.addClass('node__title') }}>
        {{ label }}
      </h2>
    {% endif %}
    {{ title_suffix }}
  {% endblock title %}

  {% block content %}
    {{ parent() }}
  {% endblock content %}

  {% block readmore %}
    <div class="read-more">
      <a class="read-more__link" href="{{ url }}">
        {% trans %}View {{ node.type.entity.label() }}{% endtrans %} <span class="visually-hidden"> - {{ label }}</span>
      </a>
    </div>
  {% endblock readmore %}

{% endblock markup %}
