/**
 * @file
 * This file is used to style the more link.
 */

.read-more__link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 20px; /* LTR */
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  background-color: inherit;
}
[dir=rtl] .read-more__link {
  padding-right: unset;
  padding-left: 20px;
}
.read-more__link:focus,
.read-more__link:hover {
  text-decoration: none;
  color: #008068;
  border-bottom: 1px solid #008068;
  background-color: inherit;
}
.read-more__link:before {
  position: absolute;
  top: 50%;
  right: 0; /* LTR */
  width: 14px;
  height: 14px;
  margin-top: -7px;
  content: "";
  background-image: url("pointer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
[dir=rtl] .read-more__link:before {
  right: unset;
  left: 0;
  transform: rotate(180deg);
}
