{#
/**
 * @file
 * Theme override to display a node in card-common-alt view mode.
 */
#}

{% extends "node--card-common.html.twig" %}

{% block before %}
  {{ parent() }}
  {{ attach_library('umamy/view-mode-card-common-alt') }}
{% endblock %}
