{#
/**
 * @file
 * Theme override to display a recipe node in full view mode.
 */
#}

{% extends "node--full.html.twig" %}

{% block before %}
  {{ parent() }}
  {{ attach_library('umamy/recipe') }}
{% endblock before %}
