{#
/**
* @file
* Theme override to display a node in card-common view mode.
*/
#}

{% extends "node--card.html.twig" %}

{% block before %}
  {{ parent() }}
  {{ attach_library('umamy/view-mode-card-common') }}
{% endblock before %}

{% block markup %}
  {#
    The only markup difference from node--card
    is the order of the blocks.
  #}

  {% block title %}
    {{ parent() }}
  {% endblock title %}

  {% block readmore %}
    {{ parent() }}
  {% endblock readmore %}

  {% block content %}
    {{ parent() }}
  {% endblock content %}

{% endblock markup %}
