{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{{ attach_library('umamy/footer-promo') }}

<div{{ attributes }}>
  {{ content.field_promo_image }}
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% elseif content.field_title %}
    <h2{{ title_attributes }}>{{ content.field_title }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="footer-promo-content">
      {% if not label %}
        {{ content|without('field_title')|without('field_promo_image') }}
      {% else %}
        {{ content|without('field_promo_image') }}
      {% endif %}
    </div>
  {% endblock %}
</div>
