{#
/**
 * @file
 * Theme override to display an article node in full view mode.
 */
#}

{% extends "node--full.html.twig" %}

{% block markup %}

  {% block title %}
    {{ title_prefix }}
    {% if label %}
      <header class="node__header">
        <h1 class="page-title">
          {{ label }}
        </h1>
      </header>
    {% endif %}
    {{ title_suffix }}
  {% endblock title %}

  {% block submitted %}
    {% if display_submitted %}
      <footer class="node__meta">
        <div{{ author_attributes.addClass('node__submitted') }}>
          {% trans %}<span class="by-author">by {{ author_name }}</span> {{ created_date }}{% endtrans %}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}
  {% endblock submitted %}

  {% block content %}
    {{ parent() }}
  {% endblock content %}

{% endblock markup %}
